.div-banner {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center center;
    height: 85vh;

}

.div-banner-img1 {
    background-image: url(../img/alimentos.jpg);
    background-size: cover;
    background-position: center center;
    height: 40vh;

}

.div-banner-img2 {
    background-image: url(../img/girl-gd2ae9fe1d_640.jpg);
    background-size: cover;
    background-position: center center;
    height: 40vh;

}

* {
    padding: 0px;
    margin: 0px;
}

/**/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



main {
    flex-grow: 1;
}


/* Ajuste de altura para las filas */
.row {
    min-height: 390px;
}


/* Estilo para las imágenes */
.imagen {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Espaciado entre columnas */
.col {
    margin-bottom: 15px;
}

/* */
.textMail {
    color: rgb(49, 49, 49);
    font-size: 13px;
    margin-left: 25px;
}

#comentarioDatos li {
    list-style: none;
}

/*Al momneto de usar el input canbia de colo*/

.colorComentario {
    background: rgb(237, 237, 237);
}


#miBoton {
    display: none;
}

.cardTexto {
    text-align: center;
}

/*css modal*/
.modal-header {
    height: 10px;
    margin: 0px;
    padding: 0px;
    border: none;
}

.modal-content {
    margin: 0px;
    padding: 0px;
    border: none;

    background: rgba(26, 17, 17, 0);

}

.modal-body img {
    margin: 0px;
    padding: 0px;

}

/*--------------*/
#parrafo {
    background-color: #E6E8EC;

}

.mainError{
    display: flex;
    align-content: center;
    
}

@media screen and (min-width:640px) and (max-width:900px) {
   
    .cardTexto {
        margin-bottom: 20px;
    }
    .imgCard .imgError{
        width: 600px;
        padding: 0px;
       
    }
    
}
@media screen and  (max-width:639px) {
   .mainError{
    width: 100%;
   }
    .cardTexto {
        margin-bottom: 20px;
    }
    
    .imgCard .imgError{
        width: 300px;
        padding: 0px;
    }
    
}
