.div-banner {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center center;
    height: 85vh;

}

.div-banner-img1 {
    background-image: url(../img/alimentos.jpg);
    background-size: cover;
    background-position: center center;
    height: 40vh;

}


/* Ajuste de altura para las filas */
.row {
    height: 390px;
}

/* Estilo para las imágenes */
.imagen {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Espaciado entre columnas */
.col {
    margin-bottom: 15px;
}